html {
    font-family: Lato;
    color: #35342f;
}
body {
    background:  url(http://mbostock.github.io/d3/talk/20111018/texture-noise.png)
}

path {
  fill: none;
  stroke: #111;
  stroke-width: .5px;
}
.state {
}

#mapViz {
  padding-top: 20px;
/*  border:2px solid #d0d0d0;
  border-radius: 5px;
*/}

.no-data{
  fill: #E6E6E6;
}
.spacer{
    margin-bottom: 12px;
}
.week-slider{
    margin-top: -25px;
}
.hide {
    /*visibility: hidden;*/
}

.bootstrap-select {
    width: 100% !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}