!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    %script{:charset => "utf-8", :src => "js/d3.v3.js"}
    %script{:src => "js/topojson.v1.js"}
    %link{:href => "css/colorbrewer.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/d3.slider.css", :rel => "stylesheet"}
    %link{:href => "css/bootstrap-select.css", :rel => "stylesheet"}

    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "js/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.js"}
    %script{:src => "js/underscore-min.js"}
    %script{:src => "js/d3.slider.js"}
    %script{:src => "js/bootstrap-select.js"}
    %script{:src => "js/viz.js"}

  %body{:onload => "MapViz.sizeChange()"}
    .container
      %h1.row-fluid
        CDC NNDSS Map
      %p.row-fluid
        This map uses data from NNDSS - Table II. In this data, provisional cases of selected notifiable diseases (≥1,000 cases reported during the preceding year), and selected low frequency diseases are displayed.The Table includes total number of cases reported in the United States, by region and by states, in accordance with the current method of displaying MMWR data. Data on United States exclude counts from US territories. Note:These are provisional cases of selected national notifiable diseases, from the National Notifiable Diseases Surveillance System (NNDSS). NNDSS data reported by the 50 states, New York City, the District of Columbia, and the U.S. territories are collated and published weekly as numbered tables printed in the back of the Morbidity and Mortality Weekly Report (MMWR). Cases reported by state health departments to CDC for weekly publication are provisional because of ongoing revision of information and delayed reporting.
      .col-sm-2.col-xs-12.nopadding
        %h3 Pick
        .drop-downs
        .col-md-12.col-sm-12.col-xs-6
          %select.selectpicker#diseases{"data-live-search" => "true"}
          %select.selectpicker#years
        .col-md-12.col-sm-12.col-xs-6
          %select.selectpicker#methods

      .col-sm-10.col-xs-12.nopadding
        .map.row-fluid
          #mapViz
        .week-slider.row
      .row
        .slider-desription
          .col-xs-1
          .col-xs-10
            %h5 Choose a week to display
          .col-xs-1
      .row
        .col-xs-1
        .col-xs-10
          #sliderContainer
            #mapSlider
        .col-xs-1
      / .description.row
      /   .col-xs-6
      /     %p
      /       Displaying
      /       %span Week X

